<div id="content">

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800 mt-3 ml-3">Dashboard</h1>
        </div>
        <hr>
        <div class="row mt-4 mb-5">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Current properties</div>
                        <div class="h2 mb-0 font-weight-bold text-gray-800">{{totalCount}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Property Inspections Done</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto text-center">
                          <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">{{propertiesInspected}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Go to Dashboard -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Defective Properties</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">{{defectiveProperties}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- View Course List -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Good Properties</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">{{goodProperties}}%</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-xl-4 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas baseChart 
                    [data]="pieChartData" 
                    [labels]="pieChartLabels" 
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas baseChart
                    [datasets]="radarChartData"
                    [options]="radarChartOptions"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas baseChart 
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                  </canvas>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <h3>Defective Properties</h3>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let defectiveProperty of defectivePropertyArray">
                        <th scope="row">{{defectiveProperty._id.substring(0, 5)}}</th>
                        <td>{{defectiveProperty.name}}</td>
                        <td>{{defectiveProperty.price}}</td>
                        <td>{{defectiveProperty.rating}}</td>
                        <td>{{defectiveProperty.comment}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <h3>Best Properties</h3>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bestProperty of goodPropertyArray">
                        <th scope="row">{{bestProperty._id.substring(0, 5)}}</th>
                        <td>{{bestProperty.name}}</td>
                        <td>{{bestProperty.price}}</td>
                        <td>{{bestProperty.rating}}</td>
                        <td>{{bestProperty.comment}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>